<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
        
        
        <h2 class="login-header">
          <% if(msg != ''){%>
          <%= msg %>
          <%}%>
        </h2>
        <h2 class="login-header">Log in</h2>
      
        <form action="/" class="login-container" method="post" role="form">
          <p><input type="email" placeholder="Email" name="email" required /></p>
          <p><input type="password" placeholder="Password" name="password" required /></p>
          <p>Create an Account <a id="gosignup" href="/signup">Sign Up</a></p>
          <p><input type="submit" value="Log in" name="submit"></p>
        </form>
      </div>
</body>
</html>