<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>

    <div class="login">
        <div class="login-triangle"></div>
        
        <h2 class="login-header">
          <%  if(msg != ''){%>
             <%= msg %>
          <%}%>
        </h2>
        <h2 class="login-header">Sign Up</h2>
      
        <form action="/signup" class="login-container" method="post" role="form">
          <p><input type="email" placeholder="Email" name="email" required /></p>
          <p><input type="password" placeholder="Password" name="password" required /></p>
          <p><input type="password" placeholder="Confirm Password" name="cpassword" required /></p>
          <p>Already have Account <a id="gologin" href="/">Log In</a></p>
          <p><input type="submit" value="Sign Up" name="submit"></p>
        </form>
      </div>
</body>
</html>